* {
    font-family: "Roboto", sans-serif;
}

button {
    background-color: #3882f6;
    border-radius: 10%;
    border: none;
    padding: 12px;
    color: #F9FAF8;
}

/* Menu styling */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding-left: 48px;
    padding-right: 48px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.left {
    font-size: 24px;
}

/* Rest of hero styles */

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
}

.hero H1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 12px;
}


#subtext {
    font-size: 18px;
}

.menu-item {
    font-size: 18px;
}

#quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

#call {
    background-color: #3882f6;
    color: #e5e7eb;
}

footer {
    background-color: #1F2937;

}